
*.vspscc
*.vssscc
*.user
*.suo
*.[Ll][Oo][Gg]
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
*.ncrunchsolution*
[Tt]est[Rr]esult*
*.[Cc]ache
_UpgradeReport_Files*/
UpgradeLog*.XML
target
packages

