<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>
	<root>
		<level value="Error" />
		<appender-ref ref="Console" />
	</root>
</configuration>                                     